/* Import CSS variables */
@import "variables";

/* Import fonts */
@font-face {
	font-display: swap;
	font-family: Urbanist;
	src: url("../fonts/urbanist/urbanist-latin-500-normal.woff2") format("woff2");
	font-weight: 500;
}

@font-face {
	font-display: swap;
	font-family: Urbanist;
	src: url("../fonts/urbanist/urbanist-latin-700-normal.woff2") format("woff2");
	font-weight: 700;
}

@font-face {
	font-display: swap;
	font-family: Urbanist;
	src: url("../fonts/urbanist/urbanist-latin-900-normal.woff2") format("woff2");
	font-weight: 900;
}

/**
 * Set up the base styles here.
 * Use this to normalize default browser styles.
 */

* {
	box-sizing: border-box;
	outline: 0;
	border: 0;
	padding: 0;
	margin: 0;

	font: inherit;
	font-family: Urbanist, system-ui;
	color: inherit;
	line-height: 1;

	-webkit-tap-highlight-color: transparent;
}

*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-weight: 500;

	background: $chetwode-blue-500;

	user-select: none;
}

header,
main {
	padding-block: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	text-wrap: balance;
	line-height: 1.2;
}

p {
	text-wrap: pretty;
	line-height: 1.4;
}

img {
	width: 100%;
}

/**
 * Set up global components styles here.
 */

.container {
	max-width: 90vw;
	margin-inline: auto;

	display: grid;
}
