/* Import CSS variables */
@import "variables";

/* Import fonts */
@font-face {
	font-display: swap;
	font-family: Urbanist;
	src: url("../fonts/urbanist/urbanist-latin-500-normal.woff2") format("woff2");
	font-weight: 500;
}

@font-face {
	font-display: swap;
	font-family: Urbanist;
	src: url("../fonts/urbanist/urbanist-latin-700-normal.woff2") format("woff2");
	font-weight: 700;
}

@font-face {
	font-display: swap;
	font-family: Urbanist;
	src: url("../fonts/urbanist/urbanist-latin-900-normal.woff2") format("woff2");
	font-weight: 900;
}

/**
 * Set up the base styles here.
 * Use this to normalize default browser styles.
 */

:root {
	--size-h1: 1.875rem;
	--size-h2: 1.25rem;
	--size-h3: 1.125rem;
}

* {
	box-sizing: border-box;
	outline: 0;
	border: 0;
	padding: 0;
	margin: 0;

	font: inherit;
	color: inherit;
	line-height: 1;

	-webkit-tap-highlight-color: transparent;
}

*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-family: Urbanist, system-ui;
	font-weight: 500;

	background: url("/images/texture.jpg");
	background-repeat: none;
	background-size: cover;
	background-position: center;

	user-select: none;
}

header,
main,
footer {
	padding-block: 3rem;
	margin-top: 3rem;
}

main {
	padding-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	text-wrap: balance;
	line-height: 1.2;
}

p {
	text-wrap: pretty;
	line-height: 1.4;
}

ul {
	list-style: none;
}

label {
	font-weight: 700;
}
