/* Import CSS variables */
@import "variables";

/**
 * Set up only HomePage styles here.
 */

.header {
	padding-top: 6rem;
	padding-bottom: 1.5rem;
}

.card {
	&--profile {
		text-align: center;

		&__user-info {
			margin-top: 2.5rem;

			gap: 1rem;
		}

		&__username {
			font-size: 1.875rem;
		}

		&__job-title {
			font-weight: 700;
			font-size: 1.125rem;
		}

		&__skills {
			display: inline-flex;
			justify-content: center;
			gap: 0.5rem;

			li:not(:last-child) {
				border-right: 1px solid #1c1c1c;
				padding-right: 0.5rem;
			}
		}

		&__links-list {
			display: inline-flex;
			gap: 1rem;
		}

		&__email-buttons {
			display: inline-flex;
			gap: 0.5rem;
		}

		&__picture {
			position: absolute;
			top: 0;

			border: 0.5rem solid black;
			border-radius: 100%;

			display: block;

			transform: translateY(-50%);
		}
	}
}
