/* Import CSS variables */
@import "variables";

/**
 * Set up only HomePage styles here.
 */

.card {
	&--profile {
		text-align: center;

		&__username {
			font-size: var(--size-h1);
		}

		&__job-title {
			font-weight: 700;
			font-size: var(--size-h2);
		}

		&__skills {
			display: inline-flex;
			justify-content: center;
			gap: 0.5rem;

			font-weight: 700;

			li:not(:last-child) {
				border-right: 1px solid black;
				padding-right: 0.5rem;
			}
		}

		&__links-list {
			display: inline-flex;
			gap: 1rem;
		}

		&__contact-label {
			font-size: var(--size-h3);
		}

		&__picture {
			position: absolute;
			top: 0;

			border-radius: 0.25rem;

			display: block;

			box-shadow: -4px 0 16px 0 rgb(31 38 135 / 16%);

			transform: translateY(-50%);
		}
	}
}

.content-group {
	&--user-info {
		margin-top: 2.5rem;
	}

	&--career-info {
		gap: 0.75rem;
	}

	&--email-info {
		gap: 0.75rem;
	}

	&--email-buttons {
		display: inline-flex;
	}
}
