/* Import CSS variables */
@import "variables";

/**
 * Set up only HomePage styles here.
 */

.header {
	padding-top: 3rem;
	padding-bottom: 1.5rem;

	background: $chetwode-blue-500;

	&__container {
		gap: 0.5rem;
	}
}

.profile-picture {
	border: 2px solid black;
	border-radius: 0.25rem;
}

.profile-data {
	display: grid;
	gap: 0.5rem;
}

.title {
	font-size: 1.5rem;
}

.skills-list {
	display: grid;
	place-items: center;
	gap: 0.25rem;
}

.main {
	padding-top: 1.5rem;
	padding-bottom: 3rem;

	background: $chetwode-blue-500;
}

.link-list {
	display: grid;
	place-items: center;
	gap: 1.5rem;
}
