/**
 * Set up only Footer component style here.
 */

.footer {
	font-size: 0.875rem;

	&__section-stack {
		place-items: center;
	}

	&__external-link {
		&::after {
			width: 0.75rem;
			height: 0.875rem;
			margin-right: 0.125rem;

			display: inline-block;

			content: "";
			background: black;

			mask-image: url("/icons/link--external.svg");
			mask-size: cover;
		}
	}

	&__copyright-notice {
		text-align: center;
	}
}
