/**
 * Set up only Footer component style here.
 */

.footer {
	border-top: 1px solid rgb(255 255 255 / 40%);

	font-size: 0.875rem;

	background: rgba(255 255 255 / 40%);
	backdrop-filter: blur(4px);
	box-shadow: 0 -8px 32px 0 rgb(31 38 135 / 36%);

	&__section-stack {
		place-items: center;
	}

	&__external-link {
		&::after {
			width: 0.75rem;
			height: 0.875rem;
			margin-right: 0.125rem;

			display: inline-block;

			content: "";
			background: black;

			mask-image: url("/icons/link--external.svg");
			mask-size: cover;
		}
	}

	&__copyright-notice {
		text-align: center;
	}
}
