---
/* Import styles */
import "@styles/globals.css"
---

<!doctype html>
<html lang="es-419">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="UTF-8" />

		<link rel="canonical" href="https://duduar.dev" />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<title>Duduar Deagle</title>
		<meta
			name="description"
			content="Página web de presentación y que contiene todos mis enlaces importantes."
		/>
		<meta
			name="keywords"
			content="duduar, deagle, ingeniero, desarrollador, programador, software, apps, web, html, css, javascript, linkedin, github, mastodon, telegram, simplex, correo"
		/>

		<meta property="og:url" content="https://duduar.dev" />
		<meta property="og:type" content="website" />
		<meta
			property="og:image"
			content="https://duduar.dev/assets/duduar.HC1a7ad6.jpeg"
		/>
		<meta property="og:title" content="Duduar Deagle - Ingeniero de Software" />
		<meta
			property="og:description"
			content="Profesional independiente experto en tecnologías de vanguardia"
		/>
		<meta property="og:locale" content="es_419" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="duduar.dev" />
		<meta property="twitter:url" content="https://duduar.dev" />
		<meta
			name="twitter:image"
			content="https://duduar.dev/assets/duduar.HC1a7ad6.jpeg"
		/>
		<meta
			name="twitter:title"
			content="Duduar Deagle - Ingeniero de Software"
		/>
		<meta
			name="twitter:description"
			content="Profesional independiente experto en tecnologías de vanguardia"
		/>
	</head>

	<body>
		<slot />
	</body>

	<script>
		document.addEventListener("touchstart", () => {})
	</script>
</html>
